
# IDE junk
.settings
.cproject
._*
.\#*
\#*
*.pyc
.project
.pydevproject
*~
*.orig
*~

*.inp
*.bin
inptps
params_out
executor/Build
npn-debug.log
*a.out*
.DS_Store
4dev
4build
build*
*.out

# Build generated stuff
doc/build
doc/tex-images
build
*.swp
openblas.tar.gz
executor/distX

# Tmp stuff
junk
doc/primer
doc/images
_build
_junk
.coverage
htmlcov
cgt.sublime-project
cgt.sublime-workspace


doc2
notes
notes2
build2
.idea
*-checkpoint.ipynb
docjunk
downloads/*

share
